@charset "utf-8";
body  {
	font: 90% Verdana, Arial, Helvetica, sans-serif;
	background: #666666;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
}
.cite {
	font: 80% Verdana, Arial, Helvetica, sans-serif;
	border-style: solid;
	border-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-color: #000000;
	margin-left: 1%;
	margin-right: 1%;
	background-color: #98E9CB;
	padding-bottom: -20%;
	padding-top: -20%;
	padding-left: 1%;
	padding-right: 1%;
}


/* Tips for Elastic layouts 
1. Since the elastic layouts overall sizing is based on the user's default fonts size, they are more unpredictable. Used correctly, they are also more accessible for those that need larger fonts size since the line length remains proportionate.
2. Sizing of divs in this layout are based on the 100% font size in the body element. If you decrease the text size overall by using a font-size: 80% on the body element or the #container, remember that the entire layout will downsize proportionately. You may want to increase the widths of the various divs to compensate for this.
3. If font sizing is changed in differing amounts on each div instead of on the overall design (ie: #sidebar1 is given a 70% font size and #mainContent is given an 85% font size), this will proportionately change each of the divs overall size. You may want to adjust these divs based on your final font sizing.
*/
.twoColElsLt #container {
	width: 65em;  /* this width will create a container that will fit in an 800px browser window if text is left at browser default font sizes */
	background: #FFFFFF;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	border: 1px solid #000000;
	text-align: left; /* this overrides the text-align: center on the body element. */
} 

/* Tips for sidebar1:
1. Be aware that if you set a font-size value on this div, the overall width of the div will be adjusted accordingly.
2. Since we are working in ems, it's best not to use padding on the sidebar itself. It will be added to the width for standards compliant browsers creating an unknown actual width. 
3. Space between the side of the div and the elements within it can be created by placing a left and right margin on those elements as seen in the ".twoColElsLt #sidebar1 p" rule.
*/
.twoColElsLt #sidebar1 {
	float: left;
	width: 1em; /* since this element is floated, a width must be given */
	background: #FFFFFF; /* the background color will be displayed for the length of the content in the column, but no further */
	/*margin-top: -3px;	/*padding: 0px 0; /* top and bottom padding create visual space within this div */
}
.twoColElsLt #sidebar1 h3, .twoColElsLt #sidebar1 p {
	margin-left: 8px; /* the left and right margin should be given to every element that will be placed in the side columns */
	margin-right: 10px;
}

/* Tips for mainContent:
1. If you give this #mainContent div a font-size value different than the #sidebar1 div, the margins of the #mainContent div will be based on its font-size and the width of the #sidebar1 div will be based on its font-size. You may wish to adjust the values of these divs.
2. The space between the mainContent and sidebar1 is created with the left margin on the mainContent div.  No matter how much content the sidebar1 div contains, the column space will remain. You can remove this left margin if you want the #mainContent div's text to fill the #sidebar1 space when the content in #sidebar1 ends.
3. To avoid float drop, you may need to test to determine the approximate maximum image/element size since this layout is based on the user's font sizing combined with the values you set. However, if the user has their browser font size set lower than normal, less space will be available in the #mainContent div than you may see on testing.
4. In the Internet Explorer Conditional Comment below, the zoom property is used to give the mainContent "hasLayout." This avoids several IE-specific bugs that may occur.
*/
.twoColElsLt #mainContent {
 	margin: 0 1.5em 2em 2em; /* the right margin can be given in ems or pixels. It creates the space down the right side of the page. */
} 

/* Miscellaneous classes for reuse */
.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

.box1 {
	border-style: solid;
	border-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-color: #000000;
	margin-left: 10%;
	margin-right: 10%;
	background-color: #BBDDFF;
	padding-bottom: 1%;
	padding-top: 1%;
	padding-left: 1%;
	padding-right: 1%;
}


.style5 {font-family: "Courier New", Courier, monospace}


.codeblock {
	font-family: "Courier New", Courier, monospace;
	border-style: solid;
	border-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-color: #000000;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #BBDDFF;
	padding-bottom: 1%;
	padding-top: 1%;
	padding-left: 1%;
	padding-right: 1%;
}

.contents {
	font: 120% Verdana, Arial, Helvetica, sans-serif;
	margin-left: 5%;
	line-height: 70%;

}

#nav {

}

#nav ul {
	margin-left: 1em;
	padding-left:1em;
	line-height: 140%;}


#button {
	width: 13em;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	padding: 0 0 0.2em 0;
	margin-top: 3em;
	margin-bottom: 1em;
	font-family: 'Trebuchet MS', 'Lucida Grande',
	  Verdana, Lucida, Geneva, Helvetica, 
	  Arial, sans-serif;
	background-color: #90bade;
	color: #333;
	}
	
#button p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-weight: bold;	
	margin-left: -1em;
}	
	
#button ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
	}
	
#button li {
	border-bottom: 1px solid #90bade;
	margin: 0;
	}

#button li a {
	display: block;
	padding: 5px 5px 5px 1em;
	/*border-left: 10px solid #1958b7;
	border-right: 10px solid #508fc4;*/
	background-color: #2175bc;
	color: #fff;
	text-decoration: none;
	width: 100%;
	}

html>body #button li a {
	width: auto;
	}

#button li a:hover {
	/*border-left: 10px solid #1c64d1;
	border-right: 10px solid #5ba3e0;*/
	background-color: #2586d7;
	color: #fff;
	font-style: oblique;
	}





